<h1>Choose a color</h1>
<% if @name.nil? == false %>
	<h2>Hi there <%= @name %>
<% end %>
<p>
	<%= link_to "Red", about_path(color: "red") %>
</p>
<p>
	<%= link_to "Blue", about_path(color: "blue") %>
</p>
<p>
	<%= link_to "Green", about_path(color: "green") %>
</p>
<p>
	<%= link_to "Yellow", about_path(color: "Yellow") %>
</p>

<%= form_tag(index_path) do %>
  <%= text_field_tag :name, nil, placeholder: "what is your name?" %>
  <%= submit_tag :submit %>
<% end %>